/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mcx-horizontal-slider {
	background-color: rgb(255, 255, 255);
	color: #69a6c9;
	padding: 5px;
}
