/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mcx-simple-slider {
	.simple-hv-slider-inner-container {
		/* 		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 200px;
		grid-gap: 10px; */

		img {
			height: 150px;
			width: 200px;
			object-fit: cover;
		}

		figcaption {
			text-align: center;
		}
	}
}
